<h1>Create a new comment </h1>
<div>
<%= form_with model: @comment, url: user_post_comments_path, method: :post, local: true do |f|%>
    Text: <%= f.text_area :text %>
    <%= f.submit %>
<%end%>
</div>
