<%= @post.title %>
 <div >
                <% @post.comments.each do |comment| %>
              <p>
                <%= User.find(comment.author_id).name%>
                 <%= comment.text %>
               <% end %>
              </p>
</div>