/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.user-container {
    display: flex;
    margin: 1rem 2rem;
    gap: 1.5rem;

}

.user-picture-container {
    height: 10rem;
    width: 10rem;
}

img {
    height: 100%;
    width: 100%;
}

.user-info {
    display: flex;
    gap: 3rem;
    flex-grow: 1;
    justify-content: space-between;
}

.user-link {
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
}

.user-detail {
    align-self: flex-end;
}